
<p>q: <B>{$smarty.get.word_list}</B></p>

<table border="5">
  <tr>
    <td><H2>ID:{$smarty.get.id} {$article_title}</H2>
    </td>
  </tr>
  <tr>
    <td><table width="80%"><tr><td>
            <div>
              {$article_body}
            </div><div>
              {$article_excerpts}
          </div><td></tr></table></td>
  </tr>
  <tr>
    <td align="right">来源：<a href="{$url}" target="_blank">{$url}</a></td>
  </tr>
</table>
