{*
<table>
  <tr>
    <td>
      <a href="?r=demo/status">服务器状态</a>
    </td>
  </tr>
</table>
*}
{*
TODO
    日期排序-正序/倒序
    ID排序-正序/倒序
    分类过滤
*}
<br>
<form name=kw_form id=kw_form action="" method="get" enctype="application/x-www-form-urlencoded">
  <table align="center">
    <tr>
      <td>
	    <input type="hidden" name="r" value="demo/search" />
        <input  name="q" type=text value="{$smarty.get.q}" size="50" /> &nbsp;&nbsp;&nbsp; 
        <input  type="submit" value="  Search  " />
      </td>
      <td>
        排序：
        <input type=radio name="ctime_order" value="ctime_asc" {if $smarty.get.ctime_order!="ctime_desc"}checked{/if} />时间升序
        <input type=radio name="ctime_order" value="ctime_desc" {if $smarty.get.ctime_order=="ctime_desc"}checked{/if} />时间降序
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type=radio name="nid_order" value="nid_asc" {if $smarty.get.nid_order!="nid_desc"}checked{/if} />ID升序
        <input type=radio name="nid_order" value="nid_desc" {if $smarty.get.nid_order=="nid_desc"}checked{/if} />ID降序
      </td>
    </tr>
    <tr>
      <td>
        过滤：
        分类：<input type="text" name="caty" value="{$smarty.get.caty}" />
        作者：<input type="text" name="author" value="{$smarty.get.author}" /?
      </td>
      <td>
        时间区间：<input type="text" name="btime" value="{$smarty.get.btime}" /> - 
        <input type="text" name ="etime" value="{$smarty.get.etime}" />
      </td>
    </tr>
    <tr>
      <td>
        ID号范围：<input type="text" name="nid_min" value="" /> - 
        <input type="text" name="nid_max" value="" />
      </td>
      <td>
        回复次数：<input type="text" name="comment_min" value="{$smarty.get.comment_min}" /> -
        <input type="text" name="comment_max" value="{$smarty.get.comment_max}" />
      </td>
    </tr>
    <tr>
      <td>
        浏览次数：<input type="text" name="pv_min" value="{$smarty.get.pv_min}" /> -
        <input type="text" name="pv_max" value="{$smarty.get.pv_max}" />
      </td>
      <td>
      </td>
    </tr>
  </table>
</form>

<table  width="90%">
  <tr align="right">
    <td>共有结果: {$total_found} 条, 耗时: {$cost_time} 秒</td>
  </tr>
</table>
<br>
<table>
  {section name=sec loop=$words}
  <tr>
    <td>{if $smarty.section.sec.index == "0"}分词表: {/if}</td>
    <td>L{$smarty.section.sec.index}, <B>{$words[sec].word}</B>: docs,{$words[sec].docs}; hits,{$words[sec].hits}</td>
  </tr>
  {/section}
</table>

<p align="center">
  共{$page_count}页 &nbsp
  <a href="?r=demo/search&q={$smarty.get.q}&page={$first_page_no}&caty={$smarty.get.caty}&author={$smarty.get.author}&ctime_min={$smarty.get.ctime_min}&ctime_max={$smarty.get.ctime_max}&nid_min={$smarty.get.nid_min}&nid_max={$smarty.get.nid_max}&pv_min={$smarty.get.pv_min}&pv_max={$smarty.get.pv_max}&comment_min={$smarty.get.comment_min}&comment_max={$smarty.get.comment_max}&ctime_order={$smarty.get.ctime_order}&nid_order={$smarty.get.nid_order}">第一页</a>  &nbsp;
  <a href="?r=demo/search&q={$smarty.get.q}&page={$prev_page_no}&caty={$smarty.get.caty}&author={$smarty.get.author}&ctime_min={$smarty.get.ctime_min}&ctime_max={$smarty.get.ctime_max}&nid_min={$smarty.get.nid_min}&nid_max={$smarty.get.nid_max}&pv_min={$smarty.get.pv_min}&pv_max={$smarty.get.pv_max}&comment_min={$smarty.get.comment_min}&comment_max={$smarty.get.comment_max}&ctime_order={$smarty.get.ctime_order}&nid_order={$smarty.get.nid_order}">上一页</a>  &nbsp;
  第{if $smarty.get.page == ""}0{else}{$smarty.get.page}{/if}页 &nbsp;
  <a href="?r=demo/search&q={$smarty.get.q}&page={$next_page_no}&caty={$smarty.get.caty}&author={$smarty.get.author}&ctime_min={$smarty.get.ctime_min}&ctime_max={$smarty.get.ctime_max}&nid_min={$smarty.get.nid_min}&nid_max={$smarty.get.nid_max}&pv_min={$smarty.get.pv_min}&pv_max={$smarty.get.pv_max}&comment_min={$smarty.get.comment_min}&comment_max={$smarty.get.comment_max}&ctime_order={$smarty.get.ctime_order}&nid_order={$smarty.get.nid_order}">下一页</a>  &nbsp;
  <a href="?r=demo/search&q={$smarty.get.q}&page={$max_page_no}&caty={$smarty.get.caty}&author={$smarty.get.author}&ctime_min={$smarty.get.ctime_min}&ctime_max={$smarty.get.ctime_max}&nid_min={$smarty.get.nid_min}&nid_max={$smarty.get.nid_max}&pv_min={$smarty.get.pv_min}&pv_max={$smarty.get.pv_max}&comment_min={$smarty.get.comment_min}&comment_max={$smarty.get.comment_max}&ctime_order={$smarty.get.ctime_order}&nid_order={$smarty.get.nid_order}">最后一页</a> </p>
<br>

{section name=sec loop=$matches}
<table width="90%" border="3">
        <tr>
          <td>ID:{$matches[sec].id}  
	    {if $matches[sec].no_out_link == "1"}
            <a href="?r=demo/displaycontent&id={$matches[sec].id}&word_list={$word_list}" target="_blank"><font color=""><B>{$matches[sec].title}</B></font></a>
            {else}
            <a href="http://nullget.sourceforge.net/?q=node/{$matches[sec].id}" target="_blank">
	      <font color="blue"><B>{$matches[sec].title}</B>
	    </font></a>
          {/if}
          </td>
        </tr>
        <tr>
          <td>
            {$matches[sec].body_digest}
          </td>
        </tr>
</table>
{/section}

<br>
<p align="center">
  共{$page_count}页 &nbsp
  <a href="?r=demo/search&q={$smarty.get.q}&page={$first_page_no}">第一页</a>  &nbsp;
  <a href="?r=demo/search&q={$smarty.get.q}&page={$prev_page_no}">上一页</a>  &nbsp;
  第{if $smarty.get.page == ""}0{else}{$smarty.get.page}{/if}页 &nbsp;
  <a href="?r=demo/search&q={$smarty.get.q}&page={$next_page_no}">下一页</a>  &nbsp;
  <a href="?r=demo/search&q={$smarty.get.q}&page={$max_page_no}">最后一页</a> </p>
