<!--   -->
<form name="aform" method="post" action="">
  <table width="50%">
    <tr>
      <td>原文：</td>
      <td><textarea id="stext" name="stext" rows="16" cols="86">{$smarty.post.stext}</textarea></td>
    </tr>
    <tr>
      <td></td>
      <td><div align="center">
	  <input type="submit" value=" split it " />
	</div>
      </td>
    </tr>
  </table>
</form>

<table>
  <tr>
    <td>分词：</td>
    <td><textarea id="dtext" name="dtext" rows="18" cols="86">{$splitted_words}</textarea></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
  </tr>
</table>
