
<p>
  * 索引库个数：3
  <br/>
  * 索引中总文档数： {$total_count}
</p>

<table>
  <header>Server Statistic:</header>
  <tr>
    <td><B>KEY</B></td>
    <td><B>VALUE</B></td>
  </tr>
  {section name=sec loop=$sts}
  <tr>
    <td>{$sts[sec].0}</td>
    <td>{$sts[sec].1}</td>
  </tr>
  {/section}
</table>
